@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext');
@font-face {
    font-family: WALLS;
    src: url("fonts/11468.ttf")
}
body {
    margin: 0px;
    font-size: 14px;
    color: #000;
}



p {
    text-align: justify;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

#body {
    position: relative;
    min-height: 100%;
    padding-bottom: 140px;
}
.header {
    width: 100%;
    z-index: 100;
}
.header p {font-size: 18px;    font-weight: 300;}
.header p a{font-size: 14px;font-weight: normal;    text-decoration: underline;}
.slider_item {
    height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-dots {
    position: absolute;
    top: 50%;
    right: 10%;
}
.slick-dots li {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 10px 0;
    position: relative;
}
.slick-dots li button {
    display: block;
    font-size: 0;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}
.slick-dots li.slick-active button:after {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 100%;
    content: '';
    display: block;
    margin: auto;
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
}
.slick-dots li:before {
    content:'';
    display: block;
    height: 4px;
    width: 0;
    border-left: 1px solid #fff;
    top:-8px;
    left: 6px;
    position: absolute;
}
.slick-dots li:nth-of-type(1):before {
    display: none;
}
.slider_description {position: absolute;top:40%;width: 80%;margin: auto;    left: 0;    right: 0;    text-align: center;}
.slider_description h2{font-size: 81px;}
.slider_description h4{font-size: 24px;    font-weight: 300;}
.white, .white *, .white a {color: #fff;}
.font-walls {font-family: 'WALLS';}

.menu-container {overflow:auto; transition-duration: 2s; right:-100%;background: #3d4852;    position: fixed; top:0;bottom: 0; width: 30%;min-width: 450px;z-index: 1000;}
.menu-container.show {right: 0;}
.menu-body ul li {display: block;}
.menu-body ul li a { font-size: 48px;}
h2 {font-size: 48px;    color: #0058b0; font-weight: bold;width: 60%;margin: auto;}
.advantages p {color: #333333;    font-weight: 400;}

.arrowSlide {position: absolute;top: 50%; display: block;   transform: translateY(-50%);height: 21px; width: 30px;}
.arrowSlide.prev {left:10px;}
.arrowSlide.next {right:10px;}
.blueArrows .arrowSlide.prev  {background: url('../images/left.svg') no-repeat;}
.blueArrows .arrowSlide.next  {background: url('../images/right.svg') no-repeat;}
.sliderPadding {padding-left: 40px;padding-right: 40px;}

.btn-green-outer,
.btn-green:hover
{border-radius: 15px;   background-color: #fff;color:  #0ed59e!important;  border: 1px solid #0ed59e;}
.btn-green-outer.active,.btn-green-outer:hover,
.btn-green
{background: #0ed59e;color: #fff!important;box-shadow: 0px 9px 10px rgba(14,213,158,0.3);}

.btn-white-outer
{border-radius: 15px;     color: #ffffff;    border: 1px solid #ffffff;}
.btn-white-outer:hover
{background: #fff;}

.r26 {border-radius: 26px;}


.link_img:hover .hover {display: block;}
.link_img .hover {display: none;}
.link_img img {display: block; height: 169px;}
.link_img:hover img {display: none;}
.offer_item .card-footer{ background: none;border: none;}
.offer_item .card {border: none;}
.offer_section {display: none;}
.offer_section.active {display: block;}

.window.toshow {opacity: 1;visibility: visible;}
.window {  background-color: rgba(0, 0, 0, 0.8);  bottom: 0px;  cursor: default;  left: 0px;  opacity: 0;  position: fixed;  right: 0px;  top: 0px;  visibility: hidden;  z-index: 999;  -webkit-transition: opacity .5s;  -moz-transition: opacity .5s;  -ms-transition: opacity .5s;  -o-transition: opacity .5s;  transition: opacity .5s;}
.popup {overflow:auto; transition-duration: 2s; right:-100%;   position: fixed; top:0;bottom: 0; width: 30%;min-width: 450px;z-index: 1000;}
.popup.show {right: 0;}

.bgBlue {background-color: #0058b0;}
.bgWhite {background-color: #fff;}
.bgGrey {background-color: #333333;}

.radius-none {border-radius: 0;}
form .error {border:1px solid red;}
input[type=text],
input[type=email],
textarea {color: #999999!important;}
.green {color: green;}
.custom-width {    width: auto;    overflow: auto;}
.white-nowrap {white-space: nowrap}
.last_works {background: url('../images/back2.jpg') center top no-repeat; background-size: cover;}

.work_item .card{background: none; border: 0;}
.work_item img {width: 100%;}
.work_item .card .btn-white-outer {opacity: 0;}
.work_item .card:hover .btn-white-outer {opacity: 1;}
.work_section {display: none;}
.work_section.active {display: block;}

.card-footer {background: none; border: 0;}

.dots-center {text-align: center;padding: 0;}
.dots-center li {position: relative; margin: 0 7px; cursor:pointer;width: 15px; display: inline-block;    height: 15px;    border-radius: 8px;    border: 1px solid #ffffff;}
.dots-center li button {    display: none;}
.dots-center li.slick-active:before {position:absolute;content:'';display: inline-block;width: 7px;top: 3px;    left: 3px;    height: 7px;    border-radius: 4px;    background-color: #ffffff; }

.work_popup h5{font-size: 30px;margin: 0;   line-height: 72px;    color: #333333;    font-weight: 400;}
.work_popup p{font-size: 14px;    line-height: 21px;    color: #333333;}

.w-66 {width: 66%;}
.bgGrey h4 {font-size: 30px;    font-weight: 400;}

.form-green input,
.form-green textarea
{border:1px solid #0ed59e;}

@media (max-width: 1430px) {
}

@media (max-width: 1170px) {
}

@media (max-width: 992px) {
    .slider_description h2{font-size: 30px;}
    h2 {font-size: 28px;}
    .menu-container,.popup {width: 100%;min-width: 100%;}

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
} 